name: Acquire Activation File
on:
  workflow_dispatch: {}

jobs:
  activation:
    name: Request Manual Activation File
    runs-on: ubuntu-latest
    container: unityci/editor:ubuntu-2022.3.60f1-base-3.0.0
    steps:
      # Request the manual activation file (Raw Command)
      - name: Request manual activation file
        run: |
          chmod +x /usr/bin/unity-editor
          unity-editor -batchmode -nographics -createManualActivationFile -logfile /dev/stdout || true
          ls -la *.alf

      # Upload the file as an artifact
      - name: Upload activation file
        uses: actions/upload-artifact@v4
        with:
          name: Unity_v2022.3.60f1.alf
          path: "**/*.alf"
