name: Acquire Activation File
on:
  workflow_dispatch: {}

jobs:
  activation:
    name: Request Manual Activation File
    runs-on: ubuntu-latest
    container: unityci/editor:ubuntu-2022.3.60f1-base-3.2.0
    steps:
      # Request the manual activation file (Raw Command)
      - name: Request manual activation file
        run: |
          echo "Locating Unity..."
          ls -la /opt/unity/Editor/Unity
          
          echo "Generating License..."
          /opt/unity/Editor/Unity -batchmode -nographics -createManualActivationFile -logfile /dev/stdout || true
          
          echo "Searching for .alf file..."
          ALF_PATH=$(find / -name "*.alf" 2>/dev/null | head -n 1)
          
          if [ -z "$ALF_PATH" ]; then
            echo "Error: ALF file not found anywhere!"
            exit 1
          fi
          
          echo "Found ALF at: $ALF_PATH"
          DEST=./Unity_v2022.3.60f1.alf
          if [ "$ALF_PATH" != "$DEST" ]; then
            cp "$ALF_PATH" "$DEST"
          else
            echo "ALF already at destination path, skip copy."
          fi
          ls -la "$DEST"

      # Upload the file as an artifact
      - name: Upload activation file
        uses: actions/upload-artifact@v4
        with:
          name: Unity_v2022.3.60f1.alf
          path: "**/*.alf"
