name: Acquire Activation File
on:
  workflow_dispatch: {}

jobs:
  activation:
    name: Request Manual Activation File
    runs-on: ubuntu-latest
    steps:
      # Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # Request the manual activation file
      - name: Request manual activation file
        uses: game-ci/unity-request-activation-file@v2
        id: getManualLicenseFile
        with:
          unityVersion: 2022.3.60f1

      # Upload the file as an artifact
      - name: Upload activation file
        uses: actions/upload-artifact@v4
        with:
          name: Unity_v2022.3.60f1.alf
          path: ${{ steps.getManualLicenseFile.outputs.filePath }}
